/*******************************
* ACCORDION - Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
#accordion .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

#accordion .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

#accordion .panel-title {
    font-size: 14px;
}

#accordion .panel-title > a {
    display: block;
    padding: 15px 15px 0 60px;
    text-decoration: none;
    min-height: 51px;
    font: 12pt Verdana, Tahoma, Arial;
    color: #fff;
}

#accordion .panel .panel-heading {
    background: url("../images/list2.png");
    min-height: 51px;
    margin-top: 3px;
}

#accordion .panel .panel-heading#heading1 {
    margin-top: 0;
}

#accordion .panel .panel-body {
    padding: 0;
}

#accordion .panel-title > a.collapsed {
    background: url("../images/list.png");
}

#accordion .more-less {
    float: right;
    color: transparent;
}

#accordion .more-less.glyphicon-plus {
    background: url("../images/strelka1.png");
    width: 15px;
    min-height: 26px;
    top: -4px;
}

#accordion .more-less.glyphicon-minus {
    background: url("../images/strelka2.png");
    width: 27px;
    min-height: 15px;
    top: 6px;
}

#accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

#accordion .accordion_sub_menu {
    width: 100%;
    min-height: 51px;
}

#accordion .accordion_sub_menu .menu_back {
    color: #fff;
    background: #0dab5e;
    font: 10pt normal Verdana, Tahoma, Arial;
    padding: 5px 25px 5px 75px;
    margin-top: 1px;
    min-height: 51px;
    line-height: 1em;
}

#accordion .menu_hover {
    padding: 0;
    width: 100%;
    height: 100%;
    margin-top: -51px;
    top: -100%;
    position: relative;
    opacity: 0;
    min-height: 51px;
}

#accordion .menu_hover:hover {
    opacity: 1;
}

#accordion .accordion_sub_menu .accordion_btns {
    background: url("../images/hover2.png");
    width: 100%;
    min-height: 51px;
}

#accordion .accordion_sub_menu .accordion_btns td {
    width: 50%;
    text-align: center;
}

#accordion .accordion_sub_menu .accordion_btns td a {
    color: #000;
    font: 11pt Arial;
    font-weight: bolder;
}