#wrapper {
    max-width: 1029px;
    margin: 0 auto 15px;
    background: url("images/uzor.png") no-repeat right bottom;
}

#header {
    min-height: 163px;
    background: url("images/header.png");
}

#main_logo {
    position: relative;
    top: 45px;
    left: 50px;
}

#social_icons {
    display: inline-block;
    width: 30px;
    min-height: 163px;
    padding: 35px 0 0;
    float: right;
}

#social_icons a {
    display: inline-block;
    margin-bottom: 25px;
}

#header_search {
    width: 250px;
    float: right;
    min-height: 163px;
    padding-top: 45px;
    margin-right: 95px;
    display: inline-block;
}

#header_search a {
    color: white;
    display: inline-block;
    margin: 0 15px 0 0;
}

.login-right {
    width: 1029px;
}

#account_panel {
    background: #525f82;
    padding: 4px;
    min-height: 30px;
    margin: 5px 0;
}

#account_panel p {
    float: right;
    display: block;
    margin: 0 40px 0 0;
    color: #fff;
}

#account_panel p#user_name {
    margin-right: 20px;
}

#account_panel p#logout_btn {
    padding: 2px 25px;
    font-size: 9pt;
}

#account_panel p#home_btn {
    float: left;
}

#account_panel p#home_btn a {
    color: #fff;
    font-size: 10pt;
    display: block;
    padding: 2px 0 0 22px;
    background: url("images/home.png") no-repeat;
}

#account_panel p#logout_btn a {
    color: #fff;
    font-size: 9pt;
}

#content {
    padding: 0;
    margin: 0;
}

#content #left_sidebar {
    float: left;
    padding: 0;
    width: 48.7%;
}

#content #right_sidebar {
    float: right;
    padding: 0;
    width: 48.7%;
}

#content #right_sidebar .carousel-caption {
    background: rgba(0,0,0,0.4);
    padding: 7% 16% 5px;
    border-radius: 3px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#content #right_sidebar .carousel-control {
    z-index: 100;
}

.carousel-caption .btn {
    margin: 0 25px;
}

.carousel-control .icon-prev:before {
    content: url("images/str-zel-1.png");
}

.carousel-control .icon-next:before {
    content: url("images/str-zel-2.png");
}

#service_type_boxes {
    margin-top: 10px;
    margin-left: -18px;
}

.service_icon {
    display: block;
    margin: 5px auto;
}

.service_caption {
    font: 10pt normal Verdana, Tahoma, Arial;
    color: #fff;
}

.service_box {
    width: 152px;
    height: 106px;
    display: inline-block;
    margin-left: 18px;
}

.service_back {
    background: #0dab5e;
    padding: 5px 3px 0;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
}

.service_hover {
    padding-top: 0;
    background: url("images/hover1.png");
    width: 100%;
    height: 100%;
    margin: 0;
    top: -100%;
    position: relative;
    opacity: 0;
}

.service_hover:hover {
    opacity: 1;
}

.service_hover a {
    color: #fff;
    top: 40%;
    display: block;
    position: relative;
    text-align: center;
}

#carousel-team-primary-v1 {
    background: rgb(206, 236, 223);
}

.news_item {
    max-width: 49%;
    display: inline-block;
}

.news_container {
    padding: 10px 25px 20px;
}

.news_container .row {
    margin: 0;
}

.news_date {
    display: inline-block;
    max-width: 30%;
}

.news_img {
    display: inline-block;
    max-width: 70%;
}

.news_short, .news_short a {
    font: 10pt normal Verdana, Tahoma, Arial;
    color: #000;
}

#news_slider .carousel-control {
    color: #2d6987;
    background: transparent;
    width: 25px;
}

#news_slider .glyphicon-chevron-left {
    left: 7%;
}

#news_slider .glyphicon-chevron-right {
    left: 5%;
}

.carousel-indicators .active {
    background: #2a6496;
}

.carousel-indicators li {
    border: 1px solid #2aabd2;
    background: #2aabd2;
}

.carousel-indicators {
    bottom: 0;
    left: 69%;
    text-align: right;
}

#ecp_con #pki {
    display: inline-block;
    width: 49%;
    padding: 0;
}

#ecp_con #con {
    display: inline-block;
    width: 49%;
    padding-left: 25px;
}

#ecp_con #pki img, #ecp_con #pki p {
    display: inline-block;
}

#ecp_con #pki p {
    width: 65%;
}

#ecp_con #pki a {
    font: 9pt bold Verdana, Tahoma, Arial;
    color: #2d6987;
    font-weight: 600;
}

#ecp_con #con a {
    font: 10pt Verdana, Tahoma, Arial;
    font-weight: 600;
    color: #4cae4c;
}

#main_tables {
    padding: 0;
    margin-left: 0;
}

#content ul.nav-tabs li {
    width: 50%;
}

.nav-tabs {
    border-bottom: 2px solid #0dab5e;
}

.nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #2d6987;
}

#content ul.nav-tabs li a {
    background-color: #2d6987;
    color: #fff;
}

#content ul.nav-tabs li.active a {
    background-color: #0dab5e;
    color: #fff;
}

#main_tables table, #main_tables table th {
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

#main_tables table th {
    font: 8pt Verdana, Tahoma, Arial;
}

#main_tables #rails_table {
    padding: 0 15px 0 15px;
}

#main_tables #price_monitoring,
#main_tables #bus_table {
    padding: 0;
}

#main_tables #price_monitoring {
}

#main_tables table th {
    color: #fff;
    background: #7d7d7d;
}

#main_tables table td {
    font-size: 8pt;
    vertical-align: middle;
}

#main_tables table th.product_name {
    background: #0dab5e;
}

#main_tables table td.product_name {
    text-align: left;
}

#main_tables table th.price {
    background: #2d6ca2;
}

#main_tables table th.gap {
    background: #7d7d7d;
}

#main_tables #price_monitoring table th {
    font-size: 10pt;
    height: 85px;
}

#main_tables #rails_table .train_num {
    width: 70px;
}

#main_tables #rails_table .departure_time {
    width: 60px;
}

#main_tables #rails_table .station_time {
    width: 75px;
}

#main_tables #bus_table .departure_time {
    width: 60px;
}

#main_tables #bus_table .seats {
    width: 55px;
}

#main_tables #bus_table .bus_number {
    width: 73px;
}

#main_tables #bus_table .status {
    width: 75px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #ceeace;
}

#main_tables table {
    border-collapse: collapse;
}

#main_tables table td {
    height: 37px;
    line-height: 10px;
}

#main_tables table td, #main_tables table th {
    border: 1px solid #60bc5d;
}

#main_tables table tr:first-child th {
    border-top: 0;
}

#main_tables table tr:last-child td {
    border-bottom: 0;
}

#main_tables table tr td:first-child,
#main_tables table tr th:first-child {
    border-left: 0;
}

#main_tables table tr td:last-child,
#main_tables table tr th:last-child {
    border-right: 0;
}

.whole_table_link {
    display: block;
    margin: 0;
    text-align: center;
}

.whole_table_link a {
    font: 10pt Verdana, Arial;
}

#other_akimat_links p {
    text-align: center;
}

#other_akimat_links img {
    height: 145px;
    opacity: 0.5;
}

#other_akimat_links img:hover {
    opacity: 0.8;
    cursor: pointer;
}

hr {
    border: none;
    color: #0dab5e;
    background-color: #0dab5e;
    height: 2px;
}

#contacts_slider {
    color: #fff;
    border-radius: 0 10px 10px 0;
    margin: auto;
    position: fixed;
    background-color: rgb(45, 108, 162);
    background-color: rgba(45, 108, 162, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    background-image: url("images/call_center.png");
    background-repeat: no-repeat;
    background-position: right;
    width: 200px;
    height: 165px;
    padding: 45px 38px 0 15px;
    bottom: 8%;
    vertical-align: middle;
    cursor: pointer;
    left: -165px;
}

#contacts_slider:hover {
    background-color: rgb(45, 108, 162);
}

#feedback {
    color: #fff;
    border-radius: 0 10px 10px 0;
    margin: auto;
    position: fixed;
    background-color: rgb(13, 171, 94);
    background-color: rgba(13, 171, 94, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    width: 300px;
    height: 365px;
    padding: 10px 0 10px 15px;
    bottom: 35%;
    vertical-align: middle;
    cursor: pointer;
    left: -265px;
}

#feedback:hover {
    background-color: rgb(13, 171, 94);
}

#feedback #feedback_form {
    display: inline-block;
    width: 250px;
    float: left;
}

#feedback #feedback_btn {
    background: url("images/feedback.png") no-repeat right;
    width: 30px;
    height: 100%;
    display: inline-block;
    float: right;
}

#feedback #feedback_btn #feedback_icon {
    background: url("images/close-btn.png") no-repeat right;
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    top: 18px;
    left: 2px;
}

#feedback #feedback_btn #feedback_icon.toggled {
    background: url("images/message.png") no-repeat right;
    width: 30px;
    height: 30px;
    top: 15px;
    left: -3px;
}

#footer #cellar {
    margin-top: 30px;
    padding: 20px 50px 30px;
    background-color: rgb(202, 202, 202);
    background-color: rgba(202, 202, 202, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    width: 100%;
}

#footer #cellar p {
    margin: 0;
    font: 8pt Verdana, Tahoma, Arial;
    font-weight: 600;
    color: #828282;
}

#akimat_copyright {
    float: left;
}

#samgau_dev {
    float: right;
}

#login_form {
    margin: 30px 30% 0;
}

/*F***ING DEVEXPRESS HACKING*/
/*REQUEST LIST*/
.custom-request-list .dxgvSearchPanel_Office2010Silver {
    background: #428bca;
}

.custom-request-list .dxgvGroupPanel_Office2010Silver {
    background: #428bca;
    color: #fff;
    font: 10pt Verdana, Tahoma, Arial;
}

.custom-request-list .dxgvHeader_Office2010Silver, .custom-request-list .dxgvHeader_Office2010Silver table,
.custom-request-list .dxgvFooter_Office2010Silver {
    background: #e6e5e5;
    color: #000;
    font: 8pt Verdana, Tahoma, Arial;
}

.custom-request-list .dxgvDataRow_Office2010Silver {
    font-weight: 600;
}

.custom-request-list .dxIcon_export_exporttopdf_32x32 {
    background: url("images/rqs_list_icons/pdf.png");
    width: 42px;
    height: 42px;
}

.custom-request-list .dxIcon_export_exporttoxlsx_32x32 {
    margin-left: 7px;
    background: url("images/rqs_list_icons/xls.png");
    width: 42px;
    height: 42px;
}

.custom-request-list .dxGridView_gvHeaderSortUp_Office2010Silver {
    background: url("images/rqs_list_icons/1.png");
    width: 8px;
    height: 8px;
}

.custom-request-list .dxGridView_gvHeaderFilter_Office2010Silver {
    background: url("images/rqs_list_icons/1.png");
    width: 15px;
    height: 10px;
}

.custom-request-list .dxGridView_gvDetailCollapsedButton_Office2010Silver {
    background: url("images/rqs_list_icons/razv.png");
    width: 21px;
    height: 18px;
}

.custom-request-list .dxGridView_gvDetailExpandedButton_Office2010Silver {
    background: url("images/rqs_list_icons/razv1.png");
    width: 18px;
    height: 21px;
}

.custom-request-list .dxmLite_Metropolis {
    margin-bottom: 10px;
}

.custom-request-list .dxflGroupBox_Office2010Silver {
    border: 0;
}

.custom-request-list .dxtcLite_Office2010Silver > .dxtc-content {
    padding: 0 15px 0 0;
}

.custom-request-list .dxflGroupBoxCaption_Office2010Silver {
    width: 100%;
    background: #8ebb9f;
    padding: 5px 30px;
    color: #fff;
    font: 11pt Verdana, Tahoma, Arial;
    font-weight: normal;
}

.custom-request-list .dxtc-flex.dxtc-top > .dxtc-stripContainer .dxtc-psi {
    width: 50%;
    background: #777777;
    padding: 5px;
}

.custom-request-list .dxtc-flex.dxtc-top > .dxtc-stripContainer .dxtc-psi:hover {
    background: #888;
}

.custom-request-list .dxtc-flex.dxtc-top > .dxtc-stripContainer .dxtc-psi a {
    color: #fff;
    font: 600 8pt Verdana, Tahoma, Arial;
}

.custom-request-list .dxtc-flex.dxtc-top > .dxtc-stripContainer .dxtc-psi.dxtc-activeTab {
    background: #428bca;
    overflow: visible;
}

.custom-request-list .dxtcSys > .dxtc-stripContainer {
    overflow: visible;
}

.custom-request-list .dxtc-flex.dxtc-top > .dxtc-stripContainer .dxtc-psi.dxtc-activeTab:after {
    border-top: 10px solid #428bca;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -15px;
    content: "";
    position: relative;
    margin-left: 0;
    width: 0;
    height: 0;
}

.custom-request-list .dxtcLite_Office2010Silver.dxtc-top > .dxtc-stripContainer .dxtc-leftIndent,
.custom-request-list .dxtcLite_Office2010Silver.dxtc-top > .dxtc-stripContainer .dxtc-rightIndent {
    display: none;
}

.custom-request-list .dxbButton_Office2010Silver {
    background: #428bca;
    border-color: #428bca;
    border-radius: 5px;
    color: #fff;
    font-size: 11pt;
    margin-right: 5px;
}

.custom-request-list .dxbButtonHover_Office2010Silver {
    background: #4fa8f4;
}

.custom-request-list .dxflCaptionCell_Office2010Silver {
    font-weight: 600;
}

.custom-request-list .dxflTextItemSys .dxflVATSys.dxflCaptionCell_Office2010Silver {
    min-width: 180px !important;
}

.dxWeb_pPrevDisabled_Office2010Silver {

}

.dxWeb_pPrev_Office2010Silver {
    background: url("images/rqs_list_icons/3.png");
    width: 9px;
    height: 13px;
}

.dxWeb_pNextDisabled_Office2010Silver {

}

.dxWeb_pNext_Office2010Silver {
    background: url("images/rqs_list_icons/2.png");
    width: 9px;
    height: 13px;
}

/*CREATE REQUEST*/
.custom-dvxpress-wizard .dxflFormLayout_Office2010Silver {
    width: 100%;
}

.custom-dvxpress-wizard .dxflGroupBox_Office2010Silver {
    border: 0;
}

.custom-dvxpress-wizard .dxflGroupBoxCaption_Office2010Silver {
    width: 100%;
    background: #8ebb9f;
    padding: 5px 30px;
    color: #fff;
    font: 11pt Verdana, Tahoma, Arial;
    font-weight: normal;
}

.custom-dvxpress-wizard .dxflTextEditItemSys .dxflVATSys.dxflCaptionCell_Office2010Silver {
    width: 30% !important
}

.custom-dvxpress-wizard .dxflGroupBox_Office2010Silver > .dxflGroup_Office2010Silver {
    padding: 0 40px;
    font-size: 10pt;
}

.custom-dvxpress-wizard .dxflTextItemSys .dxflVATSys.dxflCaptionCell_Office2010Silver {
    font-weight: 600
}

.custom-dvxpress-wizard .validation-summary-errors {
    margin-bottom: 10px;
}

.custom-dvxpress-wizard .validation-summary-errors li {
    background: #ffdada;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 3px;
}

.custom-dvxpress-wizard .dxtc-flex.dxtc-top > .dxtc-stripContainer .dxtc-psi {
    width: 50%;
    background: #777777;
    border: 0;
    padding: 5px;
}

.custom-dvxpress-wizard .dxtc-flex.dxtc-top > .dxtc-stripContainer .dxtc-psi:hover {
    background: #888;
}

.custom-dvxpress-wizard .dxtc-flex.dxtc-top > .dxtc-stripContainer .dxtc-psi a {
    color: #fff;
    text-transform: uppercase;
    font: 13pt Verdana, Tahoma, Arial;
    padding: 0;
}

.custom-dvxpress-wizard .dxtc-flex.dxtc-top > .dxtc-stripContainer .dxtc-psi.dxtc-activeTab {
    background: #428bca;
}

.custom-dvxpress-wizard .dxtcSys > .dxtc-stripContainer {
    overflow: visible;
}

.custom-dvxpress-wizard .dxtc-flex.dxtc-top > .dxtc-stripContainer .dxtc-psi.dxtc-activeTab:after {
    border-top: 17px solid #428bca;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    bottom: -22px;
    content: "";
    position: relative;
    margin-left: -60%;
    width: 0;
    height: 0;
}

.custom-dvxpress-wizard .dxtcLite_Office2010Silver.dxtc-top > .dxtc-stripContainer .dxtc-leftIndent,
.custom-dvxpress-wizard .dxtcLite_Office2010Silver.dxtc-top > .dxtc-stripContainer .dxtc-rightIndent {
    display: none;
}

.custom-dvxpress-wizard .dxbButton_Office2010Silver {
    background: #428bca;
    border-radius: 5px;
    color: #fff;
    font-size: 11pt;
}